<mat-toolbar color="primary" class="navbar">
  <button
    mat-icon-button
    *ngIf="korisnik$ | async"
    (click)="toggleSidenav.emit()"
    aria-label="Meni"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <a routerLink="/pocetna" class="brend" *ngIf="!(korisnik$ | async)">
    <mat-icon>biotech</mat-icon>
    <span>LabOrg</span>
  </a>

  <div class="kontekst" *ngIf="korisnik$ | async">
    <span class="putanja">Laboratorija</span>
    <span class="naslov">{{ naslovStranice$ | async }}</span>
  </div>

  <span class="razmak"></span>

  <ng-container *ngIf="korisnik$ | async; else nijePrijavljen">
    <a
      mat-icon-button
      routerLink="/zahtevi"
      matTooltip="Zahtevi za pristup"
      [matBadge]="brojZahteva$ | async"
      [matBadgeHidden]="(brojZahteva$ | async) === 0"
      matBadgeColor="warn"
      aria-label="Zahtevi za pristup"
    >
      <mat-icon>notifications_none</mat-icon>
    </a>
    <a mat-raised-button class="novi-uzorak" routerLink="/uzorci/novo">
      <mat-icon>add</mat-icon>
      <span>Novi uzorak</span>
    </a>
  </ng-container>

  <ng-template #nijePrijavljen>
    <a mat-button routerLink="/prijava">
      <mat-icon>login</mat-icon>
      <span class="korisnik-ime">Prijava</span>
    </a>
  </ng-template>
</mat-toolbar>
