<section>
  <header class="zaglavlje">
    <h1>Laboratorije</h1>
    <p>Organizacione jedinice laboratorije.</p>
  </header>

  <div class="traka-akcija">
    <a mat-raised-button color="primary" routerLink="/laboratorije/novo">
      <mat-icon>add</mat-icon>
      Nova laboratorija
    </a>
  </div>

  <div class="spinner" *ngIf="ucitavanje">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <div class="kartice" *ngIf="!ucitavanje">
    <mat-card class="kartica" *ngFor="let lab of laboratorije" [routerLink]="['/laboratorije', lab.id]">
      <mat-card-header>
        <mat-icon mat-card-avatar>apartment</mat-icon>
        <mat-card-title>{{ lab.naziv }}</mat-card-title>
        <mat-card-subtitle>{{ lab.tip }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p><mat-icon class="mini">place</mat-icon> {{ lab.lokacija }}</p>
        <p><mat-icon class="mini">person</mat-icon> Šef: {{ sefovi.get(lab.id) }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</section>
